@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-neutral-200 outline-none;
  }
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
